/* --------------------------------

Primary style

-------------------------------- */
*, *::after, *::before {
  box-sizing: border-box;
  overflow-x: hidden
}

html {
  font-size: 62.5%;
}

body {
  font-size: 1.6rem;
  line-height: 120%;
  font-family: Helvetica Neue, Arial, sans-serif;
  color: #83b0b9;
  background-color: #343943;
}

a {
  color: #d35657;
  text-decoration: none;
}

b, strong {
  font-weight: border
}

/* --------------------------------

Navigation

-------------------------------- */
/* --------------------------------

 Main Content

-------------------------------- */
.cd-main {
  min-height: 100vh;
}

.cd-section {
  position: absolute;
  z-index: 1;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  overflow-y: auto;
  /* Force Hardware Acceleration */
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  -webkit-transform: translateZ(0);
  -moz-transform: translateZ(0);
  -ms-transform: translateZ(0);
  -o-transform: translateZ(0);
  transform: translateZ(0);
  -webkit-transform: translateX(-100%);
  -moz-transform: translateX(-100%);
  -ms-transform: translateX(-100%);
  -o-transform: translateX(-100%);
  transform: translateX(-100%);
  -webkit-transition: -webkit-transform 0s 0.5s;
  -moz-transition: -moz-transform 0s 0.5s;
  transition: transform 0s 0.5s;
}

.cd-section.overflow-hidden {
  /* this class is used to hide the scrolling bar while a new section is entering the viewport */
  overflow: hidden;
}

/* .cd-section header {
  position: fixed;
  height: 100%;
  width: 100%;
  background: #5B1F69;
  overflow: hidden;
} */
/*.cd-section.services header {
  background-color: #5B1F69;
}
.cd-section.projects header {
  background-color: #5B1F69;
}
.cd-section.contact header {
  background-color: #5B1F69;
}*/
.cd-section.visible {
  position: relative;
  z-index: 2;
  -webkit-overflow-scrolling: touch;
  -webkit-transform: translateX(0);
  -moz-transform: translateX(0);
  -ms-transform: translateX(0);
  -o-transform: translateX(0);
  transform: translateX(0);
  -webkit-transition: -webkit-transform 0.5s 0s;
  -moz-transition: -moz-transform 0.5s 0s;
  transition: transform 0.5s 0s;
}

.cd-section.visible .cd-scroll {
  visibility: visible;
  -webkit-transform: translateX(-50%) scale(1);
  -moz-transform: translateX(-50%) scale(1);
  -ms-transform: translateX(-50%) scale(1);
  -o-transform: translateX(-50%) scale(1);
  transform: translateX(-50%) scale(1);
  -webkit-transition: -webkit-transform 0.3s 0.5s, visibility 0s 0s;
  -moz-transition: -moz-transform 0.3s 0.5s, visibility 0s 0s;
  transition: transform 0.3s 0.5s, visibility 0s 0s;
  -webkit-animation: cd-scroll-down 1.2s 0.9s;
  -moz-animation: cd-scroll-down 1.2s 0.9s;
  animation: cd-scroll-down 1.2s 0.9s;
  -webkit-animation-iteration-count: 2;
  -moz-animation-iteration-count: 2;
  animation-iteration-count: 2;
}

@media only screen and (min-width: 480px) {
  .cd-section .cd-scroll {
    left: -webkit-calc(50vw - (94px - 4px)/2);
    left: calc(50vw - (94px - 4px)/2);
  }
}

@-webkit-keyframes cd-scroll-down {
  0% {
    -webkit-transform: translateX(-50%) scale(1);
  }

  50% {
    -webkit-transform: translateY(10px) translateX(-50%) scale(1);
  }

  100% {
    -webkit-transform: translateX(-50%) scale(1);
  }
}

@-moz-keyframes cd-scroll-down {
  0% {
    -moz-transform: translateX(-50%) scale(1);
  }

  50% {
    -moz-transform: translateY(10px) translateX(-50%) scale(1);
  }

  100% {
    -moz-transform: translateX(-50%) scale(1);
  }
}

@media only screen and (min-width: 768px) {
  .cd-title h2 {
    font-size: 5rem;
  }
}

.cd-content {
  background-color: #ebebeb;
}

.cd-content p {
  width: 90%;
  max-width: 800px;
  margin: 0 auto 2em;
  font-size: 1.4rem;
  line-height: 1.6;
  color: #999999;
}

@media only screen and (min-width: 768px) {
  .cd-content p {
    font-size: 1.6rem;
  }
}

/* --------------------------------

 Loading Bar

-------------------------------- */
#cd-loading-bar {
  position: fixed;
  z-index: 2;
  width: 4px;
  visibility: hidden;
  /* Force Hardware Acceleration */
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  -webkit-transform: translateZ(0);
  -moz-transform: translateZ(0);
  -ms-transform: translateZ(0);
  -o-transform: translateZ(0);
  transform: translateZ(0);
}

#cd-loading-bar.index {
  background-color: #83b0b9;
}

#cd-loading-bar.services {
  background-color: #d35657;
}

#cd-loading-bar.projects {
  background-color: #343943;
}

#cd-loading-bar.contact {
  background-color: #e4b162;
}

#cd-loading-bar.loading {
  visibility: visible;
}

nav.cd-side-navigation {
  position: absolute;
  z-index: 3;
}

nav.cd-side-navigation a {
  color: #fff !important
}

/* .cd-section header {
  -webkit-animation: page-transition 3s forwards;
  -moz-animation: page-transition 3s forwards;
  -ms-animation: page-transition 3s forwards;
  -o-animation: page-transition 3s forwards;
  animation: page-transition 3s forwards;
  z-index: 999
} */
@keyframes page-transition {
  from {
    right: 100%;
  }

  to {
    right: -100%;
  }
}

/* Firefox < 16 */
@-moz-keyframes page-transition {
  from {
    right: 100%;
  }

  to {
    right: -100%;
  }
}

/* Safari, Chrome and Opera > 12.1 */
@-webkit-keyframes page-transition {
  from {
    right: 100%;
  }

  to {
    right: -100%;
  }
}

/* Internet Explorer */
@-ms-keyframes page-transition {
  from {
    right: 100%;
  }

  to {
    right: -100%;
  }
}

/* Opera < 12.1 */
@-o-keyframes page-transition {
  from {
    right: 100%;
  }

  to {
    right: -100%;
  }
}

.main-content {
  opacity: 0
}

.main-content {
  -webkit-animation: fadein 0.5s forwards;
  -moz-animation: fadein 0.5s forwards;
  -ms-animation: fadein 0.5s forwards;
  -o-animation: fadein 0.5s forwards;
  animation: fadein 0.5s forwards;
  animation-delay: 0s;
  -webkit-animation-delay: 0s;
}

@keyframes fadein {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

/* Firefox < 16 */
@-moz-keyframes fadein {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

/* Safari, Chrome and Opera > 12.1 */
@-webkit-keyframes fadein {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

/* Internet Explorer */
@-ms-keyframes fadein {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

/* Opera < 12.1 */
@-o-keyframes fadein {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

nav.cd-side-navigation ul li {
  display: inline-block;
}

nav.cd-side-navigation {
  width: 100%;
  background: transparent;
  padding: 10px;
}

video#hero {
  /*opacity: 0.3;*/
  width: 100%;
  height: 100%;
  object-fit: cover;
  /*    -webkit-filter: grayscale(100%);
    filter: grayscale(100%);*/
  position: absolute;
  left: 0;
  top: 0;
}

/*.main-content {
    position: fixed;
    left: 0;
    width: 100%;
    min-height: 100vh;
}*/
.col.s6.header-copy p span, .col.s6.header-copy h2 span {
  display: inline-block;
  background-color: rgb(91, 31, 105);
  padding: 10px 15px;
  margin-bottom: -2px;
  color: #fff;
  text-transform: uppercase
}

.col.s6.header-copy p, .col.s6.header-copy h2 {
  display: block;
  margin: 0;
  overflow: hidden
}

.col.s6.header-copy h2:first-child {
  margin-bottom: -3px;
}

nav.cd-side-navigation {
  height: auto !important;
  max-height: 100% !important
}

footer.page-footer {
  background-color: transparent
}

.main-footer-container {
  background-color: #00a59a;
  padding-top: 20px;
}

#menu-footer .current-page-parent,
#menu-footer .current-menu-item {
  background-color: transparent !important;
}

footer.page-footer {
  font-size: 16px;
  padding: 0
}

nav .brand-logo {
  position: relative !important
}

.col.l4.offset-l2.s12 .footer-menu {
  text-align: right;
}

nav.cd-side-navigation.z-depth-0 .nav-wrapper {
  width: 90%;
  margin: 20px auto 0;
}

.relative {
  position: relative
}

a.dropdown-trigger.btn.right i.material-icons {
  height: auto !important;
  line-height: initial !important;
  font-size: 25px !important;
  display: initial;
  position: relative;
  top: 7px;
  margin-left: 40px;
}

.dropdown-trigger {
  color: #fff !important;
  background-color: #6C6F70 !important;
  border-radius: 0 !important
}

footer.page-footer a {
  color: #fff
}

.hero {
  height: 130vh;
  background-size: cover;
  position: absolute;
  top: 0;
  width: 100%;
  left: 0;
  z-index: -1;
  background-position: top center;
}

.intro-copy h4 {
  text-transform: uppercase;
  color: #fff;
}

.intro-copy h4 span {
  background-color: rgba(0, 165, 154, 0.8196078431372549);
  padding: 10px 15px;
  display: inline-block;
}

.intro-copy .intro-copy-block {
  background-color: #fff;
  color: #000;
  font-size: 16px;
  padding: 20px;
  line-height: 30px;
}

section.cd-section {
  background: #fff;
}

.hero-content {
  display: flex;
  align-items: flex-end;
  /*height: calc(100vh - 120px);*/
  height: 100vh
}

footer.page-footer {
  font-size: 16px;
  bottom: 0;
  width: 100%;
}

.collapsible, .collapsible * {
  border: none !important
}

.collapsible-header {
  display: inline-block !important;
}

/* Footer Menu */
#menu-footer {
  font-size: 14px;
  letter-spacing: .035rem;
}

#menu-footer li {
  float: left;
  padding-right: 30px;
  min-height: 15px;
}

#menu-footer li.right-align {
  min-width: 80px;
  float: right;
  padding-right: 0;
}

.footer-copyright {
  font-size: 14px;
}

.footer-copyright img {
  max-width: 20px;
}

.social img {
  transition: all ease .25s;
}

.social img:hover {
  opacity: .7;
}

.social {
  line-height: 60px;
  padding-right: 10px;
}

.copyright {
  float: left;
  line-height: 60px;
  margin-top: -5px;
  padding-left: 10px;
}

.footer-copyright span {
  display: block;
  padding-right: 10px;
  float: left;
  margin-top: -5px;
}

/* Small Devices, Tablets */
@media only screen and (max-width : 426px) {

  #menu-footer li,
  #menu-footer li.right-align {
    float: none;
    text-align: center;
    padding: 0;
    line-height: 30px;
  }

  .footer-copyright .copyright,
  .footer-copyright .social.right {
    float: none !important;
    text-align: center;
  }

  .footer-copyright span {
    width: 50%;
    padding-right: 0;
    padding-left: 10%;
  }

  .social {
    padding-right: 0;
  }

  .copyright {
    padding-left: 0;
  }
}

h5.heading {
  display: inline-block;
  padding: 10px 15px;
  text-transform: uppercase;
  background-color: #6d2d91;
  color: #fff;
}

.copy-block h4, .collapsible-body h4 {
  display: inline-block;
  padding: 5px 10px;
  text-transform: uppercase;
  background-color: #6d2d91;
  color: #fff;
  font-size: 16px
}

.copy-block {
  background-color: #fff;
  color: #000;
  font-size: 16px;
  padding: 20px;
  line-height: 30px;
}

.collapsible-header {
  text-transform: uppercase;
  padding: 5px 15px !important;
  color: #000;
}

.main-content-area {
  padding: 40px 0;
}

.container.hero-content {
  padding: 0 20px 0;
}

.infographic-group {
  text-align: right;
  color: #6d2d91;
  font-size: 16px;
  font-size: 16px;
  border-top: solid 2px;
  padding: 20px 0;
  border-bottom: solid 2px;
}

.infographic-group .col.s2 p:after {
  content: ">>";
  float: right;
  margin-left: 20px;
}

.infographic-group .col.s2:last-child p {
  position: relative;
  padding-bottom: 10px
}

.infographic-group .col.s2:last-child p:after {
  content: "";
  float: inherit;
  margin-left: auto;
  border-bottom: solid 4px;
  position: absolute;
  width: 30%;
  left: 0;
  bottom: 0;
}

.infographic-group .col.s2 {
  text-align: left !important;
}

.collapsible-body {
  background-color: #fff;
  margin-bottom: 20px;
  color: #000;
  font-size: 16px;
  line-height: 30px;
}

ul.collapsible * {
  overflow: hidden;
}

.page-footer .footer-copyright {
  background-color: rgba(51, 51, 51, 0.35) !important;
}

.carousel-item {
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: flex-end;
  background-size: cover;
  background-position: center top
}

p.quote, .carousel-slider .col.s6 p:first-child {
  background-color: #000000;
  color: #FFFFFF;
  display: inline;
  line-height: 35px;
  font-family: Helvetica Neue, Arial, sans-serif;
  padding: 5px;
  padding-left: 0px;
  box-shadow: 0.5em 0 0 #000, -0.5em 0 0 #000;
  text-transform: uppercase;
  font-size: 20px !important;
  position: relative
}

.carousel-slider .col.s6 {
  padding: 40px 40px 60px 0;
}

.quote {
  position: relative
}

p.quote:before, .carousel-slider .col.s6 p:first-child:before {
  content: "";
  position: absolute;
  top: -29px;
  left: 0;
  width: 30px;
  height: 26px;
  background-image: url(../img/question-top.png);
  background-size: contain;
}

p.quote:after, .carousel-slider .col.s6 p:first-child:after {
  content: "";
  position: absolute;
  bottom: -29px;
  right: 0;
  width: 30px;
  height: 26px;
  background-image: url(../img/question-bottom.png);
  background-size: contain;
}

p.name {
  margin-top: 40px;
  text-transform: uppercase;
  color: #6d2d91;
}

p.role {
  background-color: #6d2d91;
  color: #FFFFFF;
  display: inline;
  line-height: 30px;
  font-family: Helvetica Neue, Arial, sans-serif;
  padding: 5px;
  padding-left: 0px;
  box-shadow: -16px 0 0 #6d2d91;
  text-transform: uppercase;
}

.carousel.carousel-slider {
  min-height: 90vh;
}

.carousel-slider .col.s6.left-align {
  height: 90vh;
}

.landing .container.hero-content {
  z-index: 1;
  position: relative;
  padding-bottom: 10vh;
}

.landing .container.hero-content .row {
  width: 100%;
  display: flex;
  align-items: flex-end;
}

.play-button {
  text-align: right;
}

.play-button i.material-icons {
  font-size: 60px;
  color: #5c2069;
  position: relative
}

footer.page-footer {
  position: relative;
}

.play-button i.material-icons:after {
  content: "";
  background: #fff;
  width: 27px;
  height: 27px;
  position: absolute;
  top: 18px;
  left: 14px;
  z-index: -1;
}

.modal video, .modal-content {
  display: block !important;
  padding: 0 !important;
  margin: 0 !important;
  background-color: #000
}

a.dropdown-trigger.btn.right.z-depth-0 {
  position: absolute;
  top: 32px;
  right: 80px;
}

.dropdown-content {
  background: #A2A4A3 !important;
}

.dropdown-content li a {
  font-size: 12px !important;
  padding: 5px 16px !important;
}

.dropdown-content li {
  min-height: 0 !important
}

nav ul a:hover {
  background-color: #6C6F70 !important;
}

h5:empty, p:empty, h1:empty, h2:empty, h3:empty, h4:empty, h6:empty, a:empty, span:empty {
  display: none !important;
}

h1, h2, h3, h4, h5, h6, p, a {
  overflow: hidden
}

.container.hero-content .row {
  width: 100%;
}

nav.cd-side-navigation ul.sub-menu .menu-item {
  display: block;
  float: none;
}

.size-full {
  width: 100% !important;
  height: auto !important
}

ul#dropdown1 {
  z-index: 9999999999;
}

.dropdown-trigger {
  display: none !important
}

.home .dropdown-trigger {
  display: block !important
}

nav.cd-side-navigation ul li {
  display: inline-block;
  background: rgba(152, 152, 152, 0.7686274509803922);
}

.apply-button {
  background: #00a59a !important;
}

.menu-item ul.sub-menu {
  display: none;
}

.menu-item-has-children:hover .sub-menu {
  display: block;
}

.menu-item-has-children {
  position: relative
}

a.sidenav-trigger i {
  color: #572795;
}

.carousel .indicators .indicator-item {
  background-color: rgb(108, 45, 145);
}

.collapsible-header {
  font-size: 14px;
}

.collapsible-header i {
  font-size: 1rem !important;
}

@media only screen and (max-width: 700px) {
  .col {
    width: 100% !important;
  }

  .hero-content {
    align-items: flex-start;
  }

  section.cd-section.index.visible .main-content .main-content {
    padding-top: 40vh;
  }

  nav.cd-side-navigation {
    top: 0
  }

  .hero-content {
    height: auto !important
  }

  section.cd-section.index.visible .main-content {
    padding-top: 0;
  }

  .main-content-area {
    padding: 0;
  }

  main.cd-main.FAQs .main-content-area {
    padding-top: 110px !important;
  }

  .col.s6.header-copy p span, .col.s6.header-copy h2 span {
    font-size: 70%;
    padding: 5px 10px !important;
  }

  a.dropdown-trigger.btn.right.z-depth-0 {
    display: none !important
  }

  /*a[href*="/opportunities/"], a[href*="/applications/"], a[href*="/get-in-touch/"] {
		pointer-events: none
	}*/
  .hero-content {
    padding: 50vh 20px 20px !important;
  }

  .carousel-slider .col.s6.left-align {
    height: auto;
  }

  .carousel-item {
    align-items: center;
    flex-direction: column;
    justify-content: center;
  }

  table td {
    width: 100%;
    float: left;
  }

  tbody tr:nth-child(even) {
    background: aliceblue;
  }

  .infographic-group .col.s2 p {
    padding: 10px 0;
    text-align: left;
  }

  .landing .container.hero-content .row {
    flex-direction: column !important;
  }

  .play-button {
    text-align: left;
  }

  .landing .hero-content {
    padding: 20vh 20px 20px !important;
  }
}

.main-content-area {
  background-position: right top;
  background-blend-mode: screen;
  background-color: #f3f3f3;
  background-size: cover;
  background-attachment: fixed
}

.btn {
  background-color: #00a59a;
  -webkit-box-shadow: none;
  box-shadow: none;
}

.current-page-parent, .current-menu-item {
  background-color: rgba(91, 31, 105, 0.7686274509803922) !important;
}

div.copy-block:empty, .intro-copy-block:empty {
  display: none !important;
}

iframe {
  width: 100%;
  float: left;
}

.iframe {
  float: right;
  width: 50%;
  padding-top: 10px;
  padding-left: 25px
}

.collapsible-body p.quote {
  font-size: 16px !important;
}

.location {
  padding-left: 0.5em;
}

main.cd-main.FAQs .collapsible-body {
  background: rgba(152, 31, 51, 0.53);
  color: #fff;
}

main.cd-main.FAQs .collapsible-header {
  color: #981f33;
}

main.cd-main.FAQs .main-content {
  padding-top: 0 !important;
}

.intro-copy-block ul, .intro-copy-block li {
  list-style-type: circle !important;
  padding-left: 15px;
  list-style: circle !important;
  overflow: initial;
}

.heading, a, p, h1, h2, h3, h4, h5, h6 {
  overflow: hidden;
}

.menu-item-has-children>a {
  padding-right: 30px;
  background-image: url(../img/arrow-down.png) !important;
  background-size: 10px !important;
  background-position: 90% center !important;
  background-repeat: no-repeat !important;
}

ul#mobile-demo {
  background-color: #424242 !important;
  color: #fff !important;
}

ul#mobile-demo * {
  color: #fff !important;
}

.sidenav-overlay {
  background-color: rgba(255, 255, 255, 0.5) !important;
}

ul#mobile-demo a.brand-logo {
  background: #562795;
  width: 100%;
  display: block;
  padding: 10px 25px;
}

.hero-content {
  background-size: cover;
  background-position: center top;
  width: 100%;
}

.carousel .indicators .indicator-item {
  background-color: rgb(1, 164, 153) !important;
  width: 15px !important;
  height: 15px !important;
  border: solid 2px #fff;
}

.carousel .indicators .indicator-item {
  background-color: rgb(1, 164, 153) !important;
  width: 15px !important;
  height: 15px !important;
  border: solid 2px #fff;
}

.carousel .indicators .indicator-item.active {
  background-color: rgb(109, 44, 145) !important
}

main.cd-main.FAQs .main-content-area {
  padding: 130px 0 40px !important;
}

.collapsible-header i.material-icons {
  margin: 0;
  text-align: right;
  position: relative;
  top: 2px;
}

.col, .page-footer * {
  overflow: hidden
}

h1, h2, h3, h4, h5 {
  font-weight: bold !important;
}

.col.s6.header-copy p {
  line-height: 27px;
}

.ie .hero-content {
  padding-top: 50vh;
}

/* Form */
input[type=email]:not(.browser-default) {
  border: 1px solid #9e9e9e !important;
  width: 97% !important;
  padding: 1px 2px 1px 12px !important;
}

input[type=email]:not(.browser-default):focus:not([readonly]) {
  border-bottom: 1px solid #9e9e9e !important;
  -webkit-box-shadow: 0 1px 0 0 #9e9e9e !important;
  box-shadow: 0 1px 0 0 #9e9e9e !important;
}

.wpcf7-form-control-wrap.your-message textarea {
  border: 1px solid #9e9e9e !important;
  width: 99% !important;
  padding: 8px 5px 8px 12px !important;
  font-size: 16px;
  line-height: 22px;
  min-height: 170px !important;
}

.wpcf7-form :focus {
  outline: none !important;
}

.wpcf7-form textarea:focus {
  border-bottom: 2px solid #9e9e9e !important;
}

.wpcf7-form [type="submit"] {
  background-color: #000;
  color: #fff;
  text-transform: uppercase;
  padding: 7px 13px 7px 13px;
  font-weight: 500;
  font-size: 15px;
  letter-spacing: .03rem;
  border: none;
  transition: all ease .15s;
}

[type="submit"]:hover {
  background-color: #ccc;
  color: #000;
}

/* Cookie Consent */
.ctcc-left-side,
.ctcc-right-side {
  font-size: 13px;
}

button#catapultCookie {
  border-radius: 0 !important;
}

#catapult-cookie-bar a {
  text-decoration: underline;
  font-weight: 700;
}

/* Menu sub pages colored */
.current-menu-parent {
  background-color: rgba(91, 31, 105, 0.7686274509803922) !important;
}

/*.current-menu-item*/
body.unknown.windows .home-content {
  background-attachment: initial !important
}

.cursor-dot,
.cursor-dot-outline {
  pointer-events: none;
  position: absolute;
  top: 50%;
  left: 50%;
  border-radius: 50%;
  opacity: 0;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transition: opacity 0.3s ease-in-out, -webkit-transform 0.3s ease-in-out;
  transition: opacity 0.3s ease-in-out, transform 0.3s ease-in-out;
  transition: opacity 0.3s ease-in-out, transform 0.3s ease-in-out, -webkit-transform 0.3s ease-in-out;
  z-index: 999999999
}

.cursor-dot {
  width: 8px;
  height: 8px;
  background-color: #572795;
}

.cursor-dot-outline {
  width: 40px;
  height: 40px;
  background-color: rgba(87, 39, 149, 0.7);
}

.home nav.cd-side-navigation ul li {
  background: rgb(1, 165, 153);
}

.home nav.cd-side-navigation ul li {
  background: rgb(1, 165, 153);
  display: block;
  clear: left;
  margin-bottom: 4px;
}

.home nav.cd-side-navigation ul li a {
  padding: 7px 15px;
}

@media only screen and (max-width: 1069px) {
  .main-content-area {
    background-image: none !important;
    background-color: #f3f3f3 !important
  }
}

@media only screen and (min-width: 750px) {
  .copy-block, .collapsible-body, .infographic-group {
    max-width: 80%;
  }
}

.ie nav.cd-side-navigation ul li {
  max-width: 8em
}

.ie .no-click>a {
  pointer-events: none
}

html {
  scroll-behavior: smooth;
}

@media only screen and (max-width: 750px) {
  .hero-content {
    /*background-size: initial !important;*/
    background-repeat: no-repeat;
    background-attachment: initial !important
  }

  .intro-copy-block {
    max-height: 30vh !important;
  }
}

@media only screen and (min-device-width : 768px) and (max-device-width : 1024px) {
  .infographic-group .col.s2 {
    width: 20% !important;
    font-size: 11px;
  }

  .Amy.Smith, .Rose.McDowall, .Rob.Gatland, .Emily.Shaw, .Alice.Minick, .Ross.McLelland {
    background-position-x: 35%;
  }

  .George.Williamson {
    background-position-x: 20%;
  }

  .hero-content {
    background-attachment: initial !important;
  }
}

.cli-bar-btn_container {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 10px 0;
}

span.cli-slider {
  display: block !important;
}

span.cli-slider::before {
  border: none !important;
  border-radius: 50% !important;
}

.cli-switch input:checked+.cli-slider:before {
  transform: translateX(18px) !important;
  border: none !important;
  border-radius: 50% !important;
  left: 0px !important;
  height: 18px !important;
  width: 18px !important;
  top: 0px !important;
}

a.cli-privacy-readmore {
  display: block !important;
}

div#cookie-law-info-again {
  position: static !important;
  background: #b8b8b8 !important;
  color: #ffffff !important;
  text-align: left;
  width: 150px !important;
  box-shadow: none !important;
  padding-bottom: 20px !important;
}

.wt-cli-cookie-bar-container {
  width: 100%;
  background: #b8b8b8;
}

li.menu-label.menu-item.menu-item-type-custom.menu-item-object-custom.menu-item-1439 {
  pointer-events: none;
  background: #5b1f69;
}