b, strong, th {
  font-weight: 900 !important
}

.hero-content p, .hero-content ul, .main-content-area p, .main-content-area ul {
  padding-top: 10px
}

.hero-content p:first-child, .hero-content ul:first-child, .main-content-area p:first-child, .main-content-area ul:first-child {
  padding-top: 0px
}

.hero-content {
  min-height: 100vh;
  height: auto;
  background-attachment: fixed;
  position: relative;
  background-attachment: fixed;
  background-color: rgba(255, 255, 255, 0);
  background-blend-mode: color;
  background-size: cover;
}

/*.home .hero-content {
  min-height: calc(100vh - 148px);
}*/

.landing p {
  padding: 0 !important;
}

.landing .container.hero-content {
  z-index: 1;
  position: relative;
  padding-bottom: 0;
  padding-top: 10vh;
  align-items: center;
}

.landing .col.s6.header-copy p {
  font-size: 16px;
  line-height: 20px !important;
}

.col.s6.header-copy h2 span {
  background-color: rgba(91, 31, 105, 1);
}

.col.s6.header-copy h2:first-child {
  margin-bottom: -5px;
}

.copy-block li, .copy-block ul, .collapsible-body ul, .collapsible-body li {
  list-style: circle !important;
  padding-left: 20px;
  overflow: initial;
}

.copy-block ol, .collapsible-body ol, .copy-block ol li, .collapsible-body ol li {
  list-style: decimal !important;
  padding-left: 20px;
  overflow: initial;
}

.main-content-area {
  padding: 140px 0 40px;
  background-attachment: fixed;
}

.come-in {
  transform: translateX(-100px);
  animation: come-in 0.8s ease forwards;
}

.come-in:nth-child(odd) {
  animation-duration: 0.6s;
}

.already-visible {
  transform: translateX(0);
  animation: none;
}

@keyframes come-in {
  to {
    transform: translateX(0);
  }
}

.hero-content+.main-content-area {
  padding: 40px 0 0;
}

.intro-copy-block {
  max-height: 45vh;
}

.intro-copy h4 span {
  background-color: rgba(0, 165, 154, 1);
}

.mobile-only {
  display: none !important
}

ul#mobile-demo .menu-item-has-children:hover .sub-menu {
  padding-left: 20px;
}

.main-content-area, .hero-content+.main-content-area {
  padding-bottom: 40px !important;
}

tr {
  border-bottom: 1px solid rgba(91, 31, 105, 0.7686274509803922);
}

.copy-block, .collapsible-body {
  border-left: solid 2px #00a59a !important;
}

.FAQs .copy-block, .FAQs .collapsible-body {
  border-left: solid 2px #fff !important;
}

main.cd-main.FAQs .main-content-area {
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
}

ul#dropdown1 li {
  max-width: 100%;
}

input[type=email]:not(.browser-default) {
  border: 1px solid #9e9e9e !important;
  width: 100% !important;
  padding: 1px 2px 1px 12px !important;
  box-sizing: border-box !important;
}

.wpcf7-form-control-wrap.your-message textarea {
  border: 1px solid #9e9e9e !important;
  width: 100% !important;
  padding: 8px 5px 8px 12px !important;
  font-size: 16px;
  line-height: 22px;
  min-height: 170px !important;
  box-sizing: border-box;
}

@media only screen and (max-width: 992px) {
  .mobile-only {
    display: block !important
  }

  .no-click a {
    pointer-events: none !important
  }

  .no-click ul.sub-menu a {
    pointer-events: all !important;
  }
}

@media only screen and (max-width: 550px) {
  .carousel-item {
    background-size: contain;
    background-repeat: no-repeat;
  }

	.home .hero-content {
	  min-height: 100vh;
	}

  .col.s6.header-copy p span, .col.s6.header-copy h2 span {
    text-transform: uppercase
  }

  .carousel-item h5.heading {
    float: right;
  }
}

@media only screen and (max-width: 768px) {
  .col.s6.header-copy p span, .col.s6.header-copy h2 span {
    font-size: 70%;
  }

  h2 {
    font-size: 34px;
  }

  .iframe {
    float: none;
    width: 100%;
    padding: 0;
    padding-bottom: 10px;
  }

  p.quote {
    font-size: 16px !important;
  }
}



@media (max-width: 1024px) {
  h2 {
    font-size: 36px;
  }
}

@media only screen and (max-width: 1096px) {
  .home .dropdown-trigger {
    display: none !important;
  }
}

@media (max-width: 1350px) {
  h2 {
    font-size: 38px;
  }

  .col.s6.header-copy h2 span {
    margin-bottom: 1px;
  }
}

.iphone .collapsible-header {
  margin-bottom: 5px;
}

.iphone .collapsible-header:last-child{
	margin-bottom: 0;
}

.iphone .col.s6.header-copy h2:first-child{
	margin-bottom: 3px;
}

.iphone .col.s6.header-copy p, .col.s6.header-copy h2{
	margin-bottom: 3px;
}

@media only screen and (max-width: 700px) {
.carousel-slider .col.s6 {
    padding: 40px;
}
	.carousel.carousel-slider.center {
    background: #fafafa;
}
	.carousel-item h5.heading {
    position: absolute;
    top: 0;
    right: 0;
	font-size: 18px;
}
	.main-content-area .row .col.s12.no-padding .carousel.carousel-slider.center .carousel-item .col.s6 p {
    font-size: 66% !important;
    line-height: 27px;
}
}